{{- if .Values.sabnzbd.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "media-stack.fullname" . }}-sabnzbd
  labels:
    {{- include "media-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: sabnzbd
spec:
  type: {{ .Values.sabnzbd.service.type }}
  ports:
  - port: {{ .Values.sabnzbd.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.sabnzbd.service.type "NodePort") .Values.sabnzbd.service.nodePort }}
    nodePort: {{ .Values.sabnzbd.service.nodePort }}
    {{- end }}
  selector:
    {{- include "media-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: sabnzbd
{{- end }}
---
{{- if .Values.sonarr.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "media-stack.fullname" . }}-sonarr
  labels:
    {{- include "media-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: sonarr
spec:
  type: {{ .Values.sonarr.service.type }}
  ports:
  - port: {{ .Values.sonarr.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.sonarr.service.type "NodePort") .Values.sonarr.service.nodePort }}
    nodePort: {{ .Values.sonarr.service.nodePort }}
    {{- end }}
  selector:
    {{- include "media-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: sonarr
{{- end }}
---
{{- if .Values.radarr.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "media-stack.fullname" . }}-radarr
  labels:
    {{- include "media-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: radarr
spec:
  type: {{ .Values.radarr.service.type }}
  ports:
  - port: {{ .Values.radarr.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.radarr.service.type "NodePort") .Values.radarr.service.nodePort }}
    nodePort: {{ .Values.radarr.service.nodePort }}
    {{- end }}
  selector:
    {{- include "media-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: radarr
{{- end }}
---
{{- if .Values.bazarr.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "media-stack.fullname" . }}-bazarr
  labels:
    {{- include "media-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: bazarr
spec:
  type: {{ .Values.bazarr.service.type }}
  ports:
  - port: {{ .Values.bazarr.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.bazarr.service.type "NodePort") .Values.bazarr.service.nodePort }}
    nodePort: {{ .Values.bazarr.service.nodePort }}
    {{- end }}
  selector:
    {{- include "media-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: bazarr
{{- end }}
---
{{- if .Values.jellyfin.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "media-stack.fullname" . }}-jellyfin
  labels:
    {{- include "media-stack.labels" . | nindent 4 }}
    app.kubernetes.io/component: jellyfin
spec:
  type: {{ .Values.jellyfin.service.type }}
  ports:
  - port: {{ .Values.jellyfin.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if and (eq .Values.jellyfin.service.type "NodePort") .Values.jellyfin.service.nodePort }}
    nodePort: {{ .Values.jellyfin.service.nodePort }}
    {{- end }}
  selector:
    {{- include "media-stack.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: jellyfin
{{- end }}
